<!DOCTYPE html>
<head>
    <title>LOGIN PAGE</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="comp_name">CAR RENTAL</div>
        </div>
    </header>
    <div class="container">
            <div class="container-header">
                <div class="header-item active" style="margin-right: 5px">Logowanie</div>
                <a class="header-item" href="registration.html">Rejestracja</a>
            </div>
            <div class="container-content">
                <input id="email" class="center" name="email" type="text" placeholder="email">
                <input id="password" class="center" name="password" type="password" placeholder="hasło">
                <button id="loginbtn" class="center">Zaloguj się</button>
            </div>
    </div>
</body>