<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="comp_name">CAR RENTAL</div>
        </div>
    </header>
    <div class="container">
        <div class="container-header">
            <a class="header-item" href="login.html" style="margin-right: 5px">Logowanie</a>
            <div class="header-item active">Rejestracja</div>
        </div>
        <div class="container-content">
            <input id="email" class="center" name="email" type="text" placeholder="email">
            <input id="password" class="center" name="password" type="password" placeholder="hasło">
            <input id="confirm-password" class="center" name="confirm-password" type="password" placeholder="powtórz hasło">
            <button id="registbtn" class="center">Zarejestruj się</button>
        </div>
    </div>
</body>
</html>