<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="comp_name">CAR RENTAL</div>
            <div class="lang-wrap">
                <img id="pl-lang" class="lang-item current-lang" src="../img/poland.png" alt="polski">
                <img id="en-lang" class="lang-item" src="../img/united-kingdom.png" alt="english">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container-header">
            <a class="header-item" href="login.html" style="margin-right: 5px">Logowanie</a>
            <div class="header-item active">Rejestracja</div>
        </div>
        <div class="container-content">
            <input id="email" class="email center" name="email" type="text" placeholder="email">
            <input id="password" class="password center" name="password" type="password" placeholder="hasło">
            <input id="confirm-password" class="confirm-password center" name="confirm-password" type="password" placeholder="powtórz hasło">
            <button id="registbtn" class="registration-btn center">Zarejestruj się</button>
        </div>
    </div>
    <script>
        const langPl = document.querySelector('.lang-wrap');
        const link = document.querySelectorAll('a');
        const langEn = document.querySelector('');

    </script>
</body>
</html>