<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SERVICE PAGE</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="app-header">
        <nav class="nav-container">
            <a id="compname" class="nav_comp_name">CAR RENTAL</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item">
                        <a href="mainpage.html" class="nav__link">Strona główna</a>
                    </li>
                    <li class="nav__item">
                        <a href="servicespage.html" class="nav__link">Usługi</a>
                    </li>
                    <li class="nav__item">
                        <a href="choosecarpage.html" class="nav__link">Pojazdy</a>
                    </li>
                    <li class="nav__item">
                        <a href="contactpage.html" class="nav__link">Kontakt</a>
                    </li>
                    <li class="nav__item">
                        <a href="login.html" class="nav__link">Wyloguj się</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main-container divide">
        <h1>Lokalizacje</h1>
        <img src="../img/map.png" class="img-map" alt="tu powinno być zdj mapki">
        <h3>Parking</h3>
        <div class="text-description">Aktualnie jest możliwość odbioru, a także zostawienia pojazdów w Krakowie na ulicy Warszawskiej 24. Staramy się zwiększyć zasięg naszej wypożyczalni o inne lokalizacje.</div>
    </div>
</body>
</html>