.contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-img {
    height: 400px;
    width: 310px;
    margin: 100px auto 0 auto;
    border-radius: 35% 20% 35% 20%;
}

.contact-container .contact-description {
    text-align: center;
    top: 58%;
}
