.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    background: #211A1A;
    border-bottom: 2px solid white;
}
.comp_name {
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.lang-wrap {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

.lang-wrap .lang-item {
    height: 50px;
    width: 50px;
    background-size: 20px;
    cursor: pointer;
}

.lang-wrap #en-lang {
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    margin: 100px auto 0 auto;
    height: 420px;
    display: flex;
    flex-direction: column;

    box-shadow: 0 6px 6px #00000029;
    border: 2px solid white;
    border-radius: 33px;
    background: rgba(112, 112, 112, 0.8);
}

.container-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container .container-header {
    display: flex;
    margin-top: 30px;
    align-self: center;
}

.container .container-header .header-item {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #808080 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 20px;

    width: 120px;
    border: none;
    color: black;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
}

.header-item.non-active {
    cursor: pointer;
}

.container .container-header .header-item.active {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,55,79,1) 35%, #3F99BC 100%);
    color: white;
    margin-right: 5px;
    cursor: default;
}

.container .container-content .login .text-field {
    margin: 0 auto;
}

::placeholder {
    color: white;
    opacity: 1;
}

input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

input.center {
    color: white;
}

input.center, button.center {
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none!important;
}

button {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #808080 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 20px;

    width: 30%;
    border: none;
    color: black;
    margin: 2em;
    line-height: 2.5em;
    cursor: pointer;
    display: block;
}

#loginbtn:hover {
    color: #FFFFFF;
}

#registbtn:hover {
    color: white;
}

.container .container-header .header-item:hover {
    color: #FFFFFF;
}

#email, #password #confirm-password {
    color: white;
}

.messages {
    color: white;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0 10px 0;
}