* {
    font-family: Lato, serif;
}

#app-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #211A1A;
    border-bottom: 2px solid white;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px 0 20px;
}

.nav_comp_name {
    display: inline-flex;
    align-items: center;
    transition: .3s;
    font-size: 20px;
    color: white;
    font-style: italic;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.nav__item {
    margin: 10px;
    cursor: pointer;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link {
    color: white;
}

.main-container {
    max-width: 100%;
    max-height: calc(100vh - 82px);
}

.main-container.split {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .main-container.split {
        flex-direction: column;
    }

    .main-container.split .left {
        height: 100%;
        width: 100%;
    }

    .main-container.split .right {
        border-left: none;
    }

    .main-container.split .right .img-custom {
        object-fit: cover;
        max-width: 100%;
        height: 280%;
    }

}

@media only screen and (min-width: 1001px) {
    .main-container.split {
        flex-direction: row;
        overflow: hidden;
    }

    .main-container.split .left {
        overflow: auto;
        flex: 0 0 50%;
    }

    .main-container.split .right {
        flex: 0 0 50%;
        border-left: 2px solid white;
    }
}

.left {
    color: #FFFFFF;
    font-size: 40px;
}

.right {}

.top-text {
    text-align: center;
}

.bottom-text {
    text-align: justify;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

.img-custom {
    object-fit: cover;
    object-position: -100% 0;
    height: 100%;
}